<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Shopping List</h1>
	<form method="POST" th:object="${shoppingListItem}"
		enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="*{id}" />

		<div class="field">
			<label for="contents">Content</label> <input name="contents"
				type="text" th:field="${shoppingListItem.contents}" class="form-control"/>
		</div>

		<div class="form-group">
			<label for="purchased">Priority</label> <select class="form-control"
				name="priority">
				<option th:selected="*{priority} == 1" value="1">Grab it
					now!</option>
				<option th:selected="*{priority} == 2" value="2">Need it
					soon!</option>
				<option th:selected="*{priority} == 3" value="3">It can
					wait!</option>
			</select>
		</div>

		<button type="submit" class="btn btn-custom-two">Save</button>
	</form>
</body>
</html>