<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Shopping List Items</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">


	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<h1>Items</h1>
			</div>
			<div class="pull-right" style="padding-top: 24px">
				<a class="btn btn-custom-two" href="/shoppinglistitem/create"
					th:href="@{|/shoppinglist/${shoppingList.id}/create|}"
					role="button">Create New Item</a>
					<a class="btn btn-custom-two"
					href="/" th:href="@{|/shoppinglist/${shoppingList.id}/deletechecked|}"
					role="button">Delete All</a>
			</div>
		</div>
	</div>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Item</th>
				<th>Priority</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="i : ${shoppingListItems}">

				<td th:if="${i.isChecked} == true"><a
					th:href="@{|/shoppinglist/${shoppingList.id}/uncheck/${i.id}|}"><i
						class="fa fa-check-square-o" aria-hidden="true"></i></a></td>
				<td th:if="${i.isChecked} == false"><a
					th:href="@{|/shoppinglist/${shoppingList.id}/check/${i.id}|}"><i
						class="fa fa-square-o" aria-hidden="true"></i></a></td>

				<!-- <td><input type="hidden" name="_isChecked"
					th:value="${i.isChecked}" /></td> -->
					
				<!-- <td><input type='checkbox' name="isChecked"
					data-bind="checked: isChecked" th:checked="${i.isChecked}" /></td> -->

					
				<td th:text="${i.contents}"></td>
				<td th:if="${i.priority} == 1">Grab it now!</td>
				<td th:if="${i.priority} == 2">Need it soon</td>
				<td th:if="${i.priority} == 3">It can wait</td>
				<td><a class="btn btn-custom" href="/"
					th:href="@{|/shoppinglist/${shoppingList.id}/${i.id}/delete|}"
					role="button">Delete</a></td>
			</tr>
		</tbody>
	</table>
	
	<a class="btn btn-custom-two" th:href="@{|/shoppinglist/${shoppingList.id}/clearchecked|}">Clear All Checked</a>

	<!-- <script type="text/javascript">
		var viewModel = {
				isChecked : ko.observable(false),
		};
	</script> -->
</body>
</html>