<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Shopping List Items</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Products</h1>
	<a class="btn btn-success" href="/shoppinglistitem/create"
		th:href="@{|/shoppinglist/${shoppingList.id}/create|}" role="button">Create New
		Item</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Item</th>
				<th>Priority</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="i : ${shoppingListItems}">
				<td><input type="checkbox" name="name1"/>&nbsp;</td>
				<td th:text="${i.contents}"></td>
				<td th:if="${i.priority} == 1">Grab it now!</td>
				<td th:if="${i.priority} == 2">Need it soon</td>
				<td th:if="${i.priority} == 3">It can wait</td>
				<td><a class="btn btn-info" href="/" th:href="@{|/shoppinglist/${shoppingList.id}/${i.id}/delete|}" role="button">Delete</a></td>
				</tr>
		</tbody>
	</table>

</body>
</html>