<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Add Item</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">

	<div class="row">

		<h1>Add Item</h1>

		<form method="POST" th:object="${shoppingListItem}">
			<input type="hidden" name="id" th:value="*{id}" />
			<div class="field">
				<label for="contents">Item</label> <input name="contents" type="text"
					th:field="${shoppingListItem.contents}" />
			</div>
			Comment:<br />
			<textarea name='comment' id='comment'></textarea><br />
			<button type="submit" class="btn btn-default">Save</button>
		</form>

		<!-- <form method="POST" th:object="${shoppingListItem}">
		<input type="hidden" name="id" th:value="*{id}" />

			<div class="field">
				<label for="contents">Contents</label> <input name="contents"
					type="text" th:value="${shoppingListItem.contents}" />
			</div>
			
			<div class="field">
				<label for="priority">Priority</label> <select id="myList">
					<option value="1">Grab it now!</option>
					<option value="2">Need it soon</option>
					<option value="3">It can wait</option>
				</select> <span th:if="${#fields.hasErrors('priority')}"
					th:errors="*{priority}">Priority</span>
			</div>

			<div class="form-group">
				<label for="">Contents</label> <input type="text" name="contents"
					class="form-control" placeholder="Contents" th:field="*{contents}" />
				<span th:if="${#fields.hasErrors('contents')}"
					th:errors="*{contents}">Contents</span>
			</div>

			<div class="form-group">
				<label for="priority">Priority</label> <select id="myList">
					<option value="1">Grab it now!</option>
					<option value="2">Need it soon</option>
					<option value="3">It can wait</option>
				</select> <span th:if="${#fields.hasErrors('priority')}"
					th:errors="*{priority}">Priority</span>
			</div>


			<button type="submit" class="btn btn-default">Submit</button>
			<a class="btn btn-default" href="/" th:href="@{|/shoppingListItems|}">Back</a>
		</form> -->

	</div>

</body>
</html>