<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Shopping List</h1>
	<form method="POST" th:object="${shoppingList}">
		<input type="hidden" name="id" th:value="*{id}" />
		<div class="field">
			<label for="name">Name</label> <input name="name" type="text"
				th:field="${shoppingList.name}" />
		</div>
		
		<!-- Comment:<br />
		<textarea name='comment' id='comment'></textarea><br /> -->
		
		<div class="field">
			<label for="color">Color</label> <input name="color" type="text"
				th:field="${shoppingList.color}" />
		</div>

		<button type="submit" class="btn btn-default">Save</button>
	</form>
</body>
</html>